<% include ./common/header %>
<body>
    <% include ./common/sidebar %>

    <div class="container" id="container">
        <div class="row-fluid">
            <div class="col-xs-12 rightside" id="rightbar">
                <div class="title text-muted">
                    <h2><i class="<%= icon %>"></i> <%= title %></h2>
                </div>
             
				<hr/>
            </div>
			<div class="clearfix"></div>

			<div class="clearfix">

			</div>
		
        </div>
    </div>
</body>
</html>