<div id="youtuberModal" class="modal fade" data-backdrop="static" data-ng-controller="youtuberModalController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><i class="<%= icon %>"></i> <%= title %></h4>
      </div>
      <div class="modal-body">

        <div class="pt15 alert alert-warning" data-ng-hide="youtuber.error == null" role="alert">
          <div data-ng-bind-html="youtuber.error | unsafe"></div>
        </div>

        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Title" data-ng-model="youtuber.title" maxlength="50" />
        </div>
        
        <div class="clearfix"></div>

        <div class="col-xs-12 col-lg-4 text-center">
          <div class="pic" style="background:url('{{youtuber.thumb | getImage}}');"></div>
          <div class="clearfix"></div>
          <a href="javascript:;" onclick="getFileThumb('#youtuberThumb')">edit thumb</a>
          <input id="youtuberThumb" type="file" class="hidden" accept="image/*" data-key="youtuberModal.youtuber.thumb" />
        </div>

        <div class="col-xs-12 col-lg-4 text-center">
          <div class="pic" style="background:url('{{youtuber.cover | getImage}}');"></div>
          <div class="clearfix"></div>
          <a href="javascript:;" onclick="getFileThumb('#youtuberCover')">edit cover</a>
          <input id="youtuberCover" type="file" class="hidden" accept="image/*" data-key="youtuberModal.youtuber.cover" />
        </div>
        
        <div class="col-xs-12 col-lg-4 text-center">
          <div class="pic" style="background:url('{{youtuber.background | getImage}}');"></div>
          <div class="clearfix"></div>
          <a href="javascript:;" onclick="getFileThumb('#youtuberBackground')">edit background</a>
          <input id="youtuberBackground" type="file" class="hidden" accept="image/*" data-key="youtuberModal.youtuber.background" />
        </div>

        <div class="clearfix"></div>

        <div class="form-group">
          <label>Category</label>
          <div class="clearfix"></div>
          <div ng-repeat="data in categories" class="col-xs-12 col-md-4 col-lg-4 pside0">
            <label class="text-ub">
              <input
                type="checkbox"
                name="categories[]"
                value="data.id"
                ng-checked="youtuber.category.indexOf(data.id) > -1"
                ng-click="toggleSelection(data.id, true)" class="" />
              {{data.title}}
            </label>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        
        <div class="form-group">
            <label>Language</label>
            <div class="clearfix"></div>
            <div ng-repeat="data in languages" class="col-xs-12 col-md-4 col-lg-4 pside0">
                <label class="text-ub">
                <input
                type="checkbox"
                name="languages[]"
                value="data.code"
                ng-checked="youtuber.language.indexOf(data.code) > -1"
                ng-click="toggleSelection(data.code, false)" />
                {{data.name}}
                </label>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        
        <div class="form-group">
          <label>Tags</label>
          <textarea class="form-control" data-ng-model="youtuber.tags" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" data-ng-model="youtuber.description" rows="5"></textarea>
        </div>

        <div class="col-lg-6 col-xs-12 pl0">
          <label>Country</label>
          <select class="form-control" data-ng-model="youtuber.country">
            <option value="{{c.code}}" data-ng-repeat="c in countries">{{c.name}}</option>
          </select>
        </div>

        <div class="col-lg-6 col-xs-12 pside0">
          <label>Status</label>
          <select data-ng-model="youtuber.status" class="form-control" data-bool-value="">
            <option value="true" selected="">Active</option>
            <option value="false">Inactive</option>
          </select>
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <div class="pull-left" data-ng-hide="youtuber.loader == null">
          <img src="images/loading.gif" />
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-ng-if="youtuber.search" data-dismiss="modal" data-toggle="modal" data-target="#searchYoutuberModal">Back</button>
        <button type="button" class="btn btn-primary" data-ng-disabled="youtuber.loader != null" data-ng-click="save();">Save</button>
      </div>
    </div>
  </div>
</div>
<div id="mmgYoutuberModal" class="modal fade" data-backdrop="static" data-ng-controller="mmgYoutuberModalController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <div class="w30 pull-left mr10" data-ng-if="youtuber.thumb"><div class="pic" style="background:url('{{youtuber.thumb | getImage}}');"></div></div>
          {{youtuber.title}}
          
          <div class="pull-right mr10"><button type="button" class="btn btn-primary" data-ng-click="edit_list({});">Add List</button></div>
        </h4>
      </div>
      <div class="modal-body">

        <div class="clearfix mb15"></div>
        
        <div class="panel panel-default">
            <div class="panel-heading">Filter information</div>
            <div class="panel-body">
            
                <div class="col-xs-12 col-lg-3 mb10">
                    <div class="input-group">
                        <span class="input-group-addon">Search</span>
                        <input type="text" class="form-control" data-ng-model="filter.search" maxlength="30" placeHolder="title" data-ng-enter="search()" />
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2 mb10">
                    <div class="input-group">
                        <span class="input-group-addon">Status</span>
                        <select class="form-control" data-ng-model="filter.status" data-ng-change="search()">
                          <option value="1">Active</option>
                          <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-2 mb10">
                    <div class="input-group">
                        <span class="input-group-addon">Show</span>
                        <select class="form-control" data-ng-model="filter.pg.limit" data-ng-change="search()">
                            <option data-ng-repeat="l in limits">{{l.qty}}</option>
                        </select>
                    </div>
                </div>
            
                <div class="col-xs-12 col-lg-1 mb10">
                    <button type="button" class="btn btn-primary" data-ng-click="search();">Go</button>
                </div>
                
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
              
                <div class="col-lg-12 col-xs-12 pside0">
                  
                  <div data-ng-show="list == null" class="text-center"><img src="images/loading.gif" /></div>
                  <div data-ng-show="list.length == 0" class="text-center">It does not have any content</div>
                  
                  <div class="panel panel-default" data-ng-repeat="l in list">
                    <div class="panel-heading va40">
                      <div class="pull-left w40 mr10" data-ng-if="l.thumb">
                          <div class="pic" style="background:url('{{l.thumb | getImage}}');"></div>
                      </div>
                      <div class="pull-left">
                          <a data-ng-click="l.isShowed = !l.isShowed; getVideos(l);" href="javascript:;">{{l.title}}</a>
                      </div>
                      <div class="pull-right">
                        <a href="javascript:;" data-ng-click="edit_list(l);">
                          <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="javascript:;" data-ng-click="delete_list(l);">
                          <span class="glyphicon glyphicon-trash"></span>
                        </a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    
                    <div class="panel-body" data-ng-show="l.isShowed">
        
                      <div class="col-xs-12 col-md-9 pside0">
                          
                          <div class="pull-right">
                              <div class="col-md-3 pl5 mb10">
                                  <div class="input-group">
                                      <span class="input-group-addon">Search</span>
                                      <input type="text" class="form-control" data-ng-model="l.filter.search" maxlength="30" placeHolder="title" data-ng-enter="getVideos(l)" />
                                  </div>
                              </div>
                              <div class="col-md-3 mb10">
                                  <div class="input-group">
                                      <span class="input-group-addon">Status</span>
                                      <select class="form-control" data-ng-model="l.filter.status" data-ng-change="getVideos(l)">
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-3 mb10">
                                  <div class="input-group">
                                      <span class="input-group-addon">Show</span>
                                      <select class="form-control" data-ng-model="l.filter.pg.limit" data-ng-change="getVideosResearch(l)">
                                          <option data-ng-repeat="l in limits">{{l.qty}}</option>
                                      </select>
                                  </div>
                              </div>
                              
                          </div>
                          
                          <div class="clearfix"></div>
                          
                          <div class="hm500">
                              <table class="table table-striped table-hover">
                                  <thead>
                                      <tr>
                                          <th>Title</th>
                                          <th>Url</th>
                                          <th>Status</th>
                                          <th>Registration</th>
                                          <th class="text-right text-ub">Total <b class="pgCounter">{{l.filter.pg.total}}</b> items</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr data-ng-if="l.videos == null" class="text-center">
                                          <td colspan="100%"><img src="images/loading.gif" /></td>
                                      </tr>
                                      <tr data-ng-if="l.videos.length == 0" class="text-center">
                                          <td colspan="100%">It does not have any video</td>
                                      </tr>
                                      <tr data-ng-repeat="video in l.videos">
                                          <td width="200">{{video.title}}</td>
                                          <td>{{video.url}}</td>
                                          <td><span class="text-{{video.status === true ? 'success' : 'danger'}}">{{video.status === true ? "Active" : "Inactive"}}</span></td>
                                          <td>{{video.registration | date:'MMM dd, yyyy'}}</span>
                                          <td class="text-right" width="70">
                                              <a href="javascript:;" data-ng-click="edit_video(l, video);">
                                                  <span class="glyphicon glyphicon-pencil"></span>
                                              </a>
                                              <a href="javascript:;" data-ng-click="delete_video(l, video);">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                              </a>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                              <div class="clearfix"></div>
                          </div>
                          
                          <!-- PAGINATION -->
                          <div class="clearfix"></div>
                          <div class="col-sm-12 pl0 pr0" data-ng-if="l.filter.pg.qtdPage > 1">
                              <div class="col-sm-9 pl0 ml0">
                            
                                <div class="input-group pb15 w150 pull-left">
                                    <span class="input-group-addon">Browse by page</span>
                                    <select class="form-control w150 pull-left" data-ng-model="l.filter.pg.index" data-ng-change="getVideos(l)">
                                      <option data-ng-repeat="n in l.filter.pg.range" value="{{n-1}}">Page {{n}}</option>
                                    </select>
                                    <span class="input-group-addon">Page&nbsp;{{l.filter.pg.index | sum : 1}} of {{l.filter.pg.qtdPage}}</span>
                                </div>
                                
                              </div>
                              <div class="col-sm-3 text-right f11 pr0">
                                Total <b class="pgCounter">{{l.filter.pg.total}}</b> items
                              </div>
                          </div>
                      </div>
        
                      <div class="col-xs-12 col-md-3 pside0 pl15">
                          <div class="form-group">
                            <label>Title</label>
                            <span class="clearfix">{{l.title}}</span>
                          </div>
                          <div class="form-group" data-ng-if="l.description">
                            <label>Description</label>
                            <div class="clearfix hM400">{{l.description}}</div>
                            <div class="clearfix"></div>
                          </div>
                          <div class="form-group">
                            <label>Status</label>
                            <span class="clearfix">{{l.status ? "Active" : "Inactive"}}</span>
                          </div>
                          <div class="form-group">
                            <label>Registration</label>
                            <span class="clearfix">{{l.registration | date:'MMM dd, yyyy'}}</span>
                          </div>
                          <div class="form-group mt15">
                            <button type="button" class="btn btn-primary" data-ng-click="edit_video(l, {});">Add video</button>
                          </div>
        
                          <div class="clearfix"></div>
                      </div>
        
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <% include ./../common/pagination %>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="addListModal" class="modal fade" data-backdrop="static" data-ng-controller="addListModalController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add List</h4>
      </div>
      <div class="modal-body">
        <div class="pt15 alert alert-warning" data-ng-hide="list.error == null" role="alert">
          <div data-ng-bind-html="list.error | unsafe"></div>
        </div>

        <div class="form-group col-lg-4 pside0 pr10 text-center">
          <img src="{{list.thumb | getImage}}" class="wMax" />
          <div class="clearfix"></div>
          <a href="javascript:;" onclick="getFileThumb('#youtuberListThumb')">edit thumb</a>
          <input id="youtuberListThumb" type="file" class="hidden" accept="image/*" data-scope="addListModal" data-key="addListModal.list.thumb" />
        </div>

        <div class="col-lg-8 pside0">

          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" data-ng-model="list.title" maxlength="50" />
          </div>

          <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" data-ng-model="list.description" rows="7"></textarea>
        </div>
        
        <div class="col-xs-6 pl0">
            <label>Status</label>
            <select data-ng-model="list.status" class="form-control" data-bool-value="">
                <option value="true" selected>Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
        <div class="col-xs-6 pside0" data-ng-if="list.registration">
            <label>Registration</label>
            <span class="clearfix">{{list.registration | date:'MMM dd, yyyy'}}</span>
        </div>
        <div class="clearfix"></div>
        
      </div>
      <div class="modal-footer">
        <div class="pull-left" data-ng-hide="list.loader == null">
          <img src="images/loading.gif" />
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-disabled="list.loader != null" data-ng-click="save();">Save</button>
      </div>
    </div>
  </div>
</div>
<div id="addVideoModal" class="modal fade" data-backdrop="static" data-ng-controller="addVideoModalController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Video</h4>
      </div>
      <div class="modal-body">
        <div class="pt15 alert alert-warning" data-ng-hide="video.error == null" role="alert">
          <div data-ng-bind-html="video.error | unsafe"></div>
        </div>

        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Title" data-ng-model="video.title" maxlength="50" />
        </div>

        <div class="form-group">
          <label>Url</label>
          <input type="text" class="form-control" placeholder="Url" data-ng-model="video.url" maxlength="1000" />
        </div>

        <div class="form-group">
          <label>Year</label>
          <input type="text" class="form-control" placeholder="Year" data-ng-model="video.year" maxlength="4" />
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" data-ng-model="video.description" rows="7"></textarea>
        </div>
        
        <div class="clearfix"></div>
        <div class="col-xs-6 pl0">
            <label>Status</label>
            <select data-ng-model="video.status" class="form-control" data-bool-value="">
                <option value="true" selected>Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>
        <div class="col-xs-6 pside0" data-ng-if="video.registration">
            <label>Registration</label>
            <span class="clearfix">{{video.registration | date:'MMM dd, yyyy'}}</span>
        </div>
        <div class="clearfix"></div>

      </div>
      <div class="modal-footer">
        <div class="pull-left" data-ng-hide="video.loader == null">
          <img src="images/loading.gif" />
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-disabled="video.loader != null" data-ng-click="save();">Save</button>
      </div>
    </div>
  </div>
</div>

